#header{
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 10px 30px 10px 20px;
  position: fixed;
  width: 100%;
  height: 140px;
  z-index: 200;
}
.header_div-logo{
  margin-left: 10px;
}
.header_div_hr-logo{
  border-left: 2px solid #ffffff;
  height:100px;
  position: absolute ;
  margin-top: 13px;
}
.header_div_h1-logo{
  font-family: 'Pinyon Script', cursive;
  color: #ffffff;
  margin: 10px 30px 15px 20px;
  font-size: 45px;
  letter-spacing: 3px;
}
.header_nav_ul-menu{
  display: flex;
}
.header_nav_ul-menu_responsive{
  display: none;
}
.header_nav_ul-menu_responsive i{
  color: #fff;
}
.nav_ul_li-menu{
  padding: 10px;
  margin-left: 20px;
  list-style: none;
}
.nav_ul_li-menu:hover{
  background-color: rgba(97, 97, 97, 0.732);
}
.nav_ul_li_a-menu{
  text-decoration: none;
  color: #ffffff;
}
.nav_ul_li_a_hr-menu{
  margin: auto;
  width: 130px;
}
.nav_ul_li_a_h3-menu{
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  margin: 10px;
  text-align: center;
}

.main_section_menu-galeria{
  padding: 150px 250px 20px;
}
.main_section_menu_h1-galeria{
  margin: 10px 0 20px;
  display: block;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.main_section_menu_hr-galeria{
  height: 2px;
  background-color: #000;
  border: #000;
}
.main_section_menu_nav_ul-galeria{
  display: flex;
}
.main_section_menu_nav_ul-galeria li{
  padding: 20px;
  list-style: none;
  flex-grow: 1;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.main_section_menu_nav_ul-galeria li:hover{
  background-color: rgba(97, 97, 97, 0.732);
}
.main_section_menu_nav_ul-galeria li a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.main_section-galeria{
  padding: 10px 80px;
}
.main_section_h1-galeria{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
.main_section_article-galeria{
  display: grid;
}
.main_section_article_img-galeria{
  width: 100%;
  border-style: none;
  display: block;
  height: 100%;
  object-fit: cover;
  margin: px;
  border: #fff solid;
  opacity: 0.9;
}
.main_section_article_img-galeria:hover{
  opacity: 1;
}
.main_section_article-galeria{
  padding: 20px 90px 30px;
}
.img1_mujer{
  grid-column: 1/2;
  grid-row: 4/5;
  height: 420px;
}
.img2_mujer{
  grid-column: 1/3;
  grid-row: 3/4;
  height: 380px;
}
.img3_mujer{
  grid-column: 2/4;
  grid-row: 2/3;
  height: 300px;
}
.img4_mujer{
  grid-column: 2/4;
  grid-row: 1/2;
  height: 300px;
}
.img5_mujer{
  grid-column: 3/4;
  grid-row: 3/4;
  height: 380px;
}
.img6_mujer{
  grid-column: 1/2;
  grid-row: 1/3;
  height: 600px;
}
.img7_mujer{
  grid-column: 2/4;
  grid-row: 4/5;
  height: 420px;
}

.img1_hombre{
  grid-column: 3/4;
  grid-row: 3/5;
  height: 600px;
}
.img2_hombre{
  grid-column: 1/2;
  grid-row: 4/5;
  height: 300px;
}
.img3_hombre{
  grid-column: 2/4;
  grid-row: 2/3;
  height: 250px;
}
.img4_hombre{
  grid-column: 1/2;
  grid-row: 1/3;
  height: 500px;
}
.img5_hombre{
  grid-column: 3/4;
  grid-row: 1/2;
  height: 250px;
}
.img6_hombre{
  grid-column: 2/3;
  grid-row: 1/2;
  height: 250px;
}
.img7_hombre{
  grid-column: 1/3;
  grid-row: 3/5;
  height: 300px;
}
.img8_hombre{
  grid-column: 2/3;
  grid-row: 4/5;
  height: 300px;
}

.img1_par{
  grid-column: 1/3;
  grid-row: 1/2;
  height: 250px;
}
.img2_par{
  grid-column: 1/3;
  grid-row: 4/5;
  height: 550px;
}
.img3_par{
  grid-column: 1/3;
  grid-row: 2/3;
  height: 250px;}
.img4_par{
  grid-column: 3/5;
  grid-row: 1/3;
  height: 500px;
}
.img5_par{
  grid-column: 3/5;
  grid-row: 3/4;
  height: 400px;
}
.img7_par{
  grid-column: 1/3;
  grid-row: 3/4;
  height: 400px;
}
.img8_par{
  grid-column: 3/5;
  grid-row: 4/5;
  height: 550px;
}

.img1_animal{
  grid-column: 1/2;
  grid-row: 1/3;
}
.img2_animal{
  grid-column: 4/5;
  grid-row: 1/3;
}
.img3_animal{
  grid-column: 2/3;
  grid-row: 2/3;
}
.img4_animal{
  grid-column: 2/4;
  grid-row: 1/2;
}
.img5_animal{
  grid-column: 3/4;
  grid-row: 2/3;
}
.img6_animal{
  grid-column: 1/5;
  grid-row: 3/4;
  height: 400px;
}

.img1_paisaje{
  grid-column: 1/2;
  grid-row: 1/3;
}
.img2_paisaje{
  grid-column: 2/3;
  grid-row: 1/2;
}
.img3_paisaje{
  grid-column: 3/4;
  grid-row: 1/2;
}
.img4_paisaje{
  grid-column: 2/3;
  grid-row: 2/3;
}
.img5_paisaje{
  grid-column: 3/4;
  grid-row: 2/3;
}
.img6_paisaje{
  grid-column: 1/4;
  grid-row: 3/4;
  height: 400px;
}

.img1_cotidiano{
  grid-column: 1/2;
  grid-row: 1/2;
}
.img2_cotidiano{
  grid-column: 2/4;
  grid-row: 1/2;
}
.img3_cotidiano{
  grid-column: 4/5;
  grid-row: 1/2;
}
.img4_cotidiano{
  grid-column: 1/3;
  grid-row: 2/3;
  height: 250px;
}
.img5_cotidiano{
  grid-column: 1/3;
  grid-row: 3/4;
  height: 250px;
}
.img6_cotidiano{
  grid-column: 3/5;
  grid-row: 2/4;
  height: 500px;
}
.img7_cotidiano{
  grid-column: 1/2;
  grid-row: 4/5;
  height: 400px;
}
.img8_cotidiano{
  grid-column: 2/5;
  grid-row: 4/5;
  height: 400px;
}

.footer{
    display: flex;
    font-size: 30px;
    background-color: #111;
    color: #fff;
    padding: 20px 30px;
    width: 100%;
}
.footer_h6{
    margin-left: 10px;
    flex-grow: 1;
    margin-top: 6px;
}
.footer_div-redes a{
    margin-right: 25px;
    color: #fff;
}

@media only screen and (min-width: 0px) and (max-width: 800px){
  #header{
    height: 90px;
  }
  .header_div_h1-logo {
    font-size: 25px;
  }
  .header_div_hr-logo{
    height: 50px;
  }
  .header_nav_ul-menu{
    display: none;
  }
  .header_nav_ul-menu_responsive {
    display: block;
  }
  .main_section-slider{
    padding-top: 90px;
  }
  .main_section-slider li img{
    height: 100%;
    object-fit: contain;
  }
  .main_section-sobremi{
    display: block;
    margin: 20px 5% 90px;
  }
  .main_section_img-sobremi{
    width: 100%;
  }
  .main_section_article-sobremi{
    padding: 0;
  }
  .main_section_article_button-sobremi{
    margin: 0;
  }
  .footer_div-redes a{
    margin: 0;
  }
  .main_section_menu-galeria {
    padding: 90px 0px 0px;
    position: fixed;
    z-index: 100;
    background: #fff;
  }
  #Mujer{
    padding-top: 220px;
  }
  .main_section_article-galeria {
    padding: 0;
  }
  .main_section_menu_nav_ul-galeria li a{
    font-size: 15px;
  }
  .main_section_menu-galeria {
    max-width: 800px;
    min-width: 100px;
    width: 100vw;
  }
}
@media only screen and (min-width: 0px) and (max-width: 500px){
  .main_section_article-galeria {
    display: block;
  }
  .main_section_article_img-galeria {
    max-width: 420px;
  }
  .main_section_article-galeria {
    padding: 0
  }
  .main_section-galeria {
    padding: 10px 30px;
  }
  .main_section_menu_nav_ul-galeria li {
    padding: 0
  }
}
@media only screen and (min-width: 800px) and (max-width: 1100px){
  .header_div_hr-logo{
    height: 65px;
  }
  .header_div_h1-logo{
    font-size: 30px;
  }
  .nav_ul_li-menu{
    margin: 0;
  }
  .nav_ul_li_a-menu{
    font-size: 15px;
  }
  .main_section_menu-galeria{
    padding: 150px 20% 20px;
  }
  .nav_ul_li_a_hr-menu {
    width: 80px;
  }
}
